<h1>Burgers!</h1>

<h2>BURGER READY</h2>

<ul>
  {{#each burger_name}}
  {{/each}}
</ul>

<h2>Burger Devoured!</h2>

<ul>
  {{#each burger_name}}
    {{#if }}
      {{!-- {{> burgers/-block devoured=false}} --}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a BURGER</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Hungry</label><br>
    <input type="radio" name="sleepy" value="1" checked> DEVOURED!<br>
    <input type="radio" name="sleepy" value="0"> BURGER READY
  </div>

  <button type="submit">Add Burger</button>
</form>
